:root{

    //colors
    --purple: #dea6f8;
    --t-purple:#440099;


    --pink:#ea27c2;
    --t-pink:#ea27c2;
    --bright-pink:#f170d7;


    --bright-blue:#48B3E2;
    --dark-blue:#498ef6;

    --pale-red-1:#fb7878;
    --pale-red-2:#EE777B;

    --dark-Pink:#E2486D;

    --light-green:#48e2ae;

    --light-grey: #efefef;
    --text-grey:#707070;
    --hover-background:#2a2828;



    //sizes
    --border-radius:8px;


}
